## gitignore file ##

# non-pytest test files
check_*.py
test_*.py

# distribution directory
dist/

# environment variables
.env

# virtual environment
venv/
activate

# python cache
**/__pycache__/

# temp files
**/*~
**/#*#
